[tool.black]
line-length = 88
target-version = ["py310"]

[tool.ruff]
line-length = 88
target-version = "py310"
select = [
  "E",
  "F",
  "I",
  "B",
]
ignore = []

[tool.ruff.lint.isort]
known-first-party = []
combine-as-imports = true
force-single-line = false